* {
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body {
    background: #bbbdf2;
}

.app {
    background: #bbbdf2;
    padding: 30px;
}

.app h1 {
    font-size: 45px;
    color: #111bd9;
    text-align: center;
    margin-top: 20px;
}

.quiz {
    padding: 20px 0;
}

p {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    padding: 20px;
    color: #111bd9;
}

#question {
    color: #111bd9;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
}

.btn {
    color: #cedef2;
    background: #3876f2;
    width: 45%;
    padding: 10px;
    margin: 10px 10px 10px 10px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 50px;
}

.correct {
    background: #00ff00;
}

.incorrect {
    background: #ff0000;
}

#next-btn {
    color: #cedef2;
    background: #3876f2;
    width: 25%;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
    margin: 10px 0;
    font-size: 35px;
    font-weight: bolder;
}

#timer {
    float: right;
    font-size: 25px;
    margin-right: 10px;
    margin-top: 10px;
    color: #111bd9;
    font-weight: bold;
}
