* {
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body {
    background: #868C80;
}

.app {
    background: #868C80;
    padding: 30px;
}

.app h1 {
    font-size: 25px;
    color: #525953;
    text-align: center;
}

.quiz {
    padding: 20px 0;
}

p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    color: #B8BFBC;
}

#question {
    color: #CCD9D5;
}

.btn {
    color: #E4F2EE;
    background: #525953;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}

.correct {
    background: #00ff00;
}

.incorrect {
    background: #ff0000;
}

#next-btn {
    color: #E4F2EE;
    background: #525953;
    width: 25%;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
    margin: 10px 0;
}

#timer {
    float: right;
}
